flows.json
{"flows":[{"id":"0c3a31d3098bce7c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"victron-client-id","type":"victron-client","showValues":true,"contextStore":true,"enablePolling":false},{"id":"a7881b9181e7f150","type":"mqtt-broker","name":"127.0.0.1","broker":"127.0.0.1","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0a56d80f71c89078","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Grid Watts","outputs":3,"switch_1_type":8,"switch_1_min":"-2200","switch_1_max":"2200","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"W","switch_1_step":10,"switch_1_customname":"Grid Watts","switch_1_group":"Battery Test Settings","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":590,"y":160,"wires":[[],[],["1444498d3389be6c"]]},{"id":"1444498d3389be6c","type":"victron-output-ess","z":"0c3a31d3098bce7c","service":"com.victronenergy.settings","path":"/Settings/CGwacs/AcPowerSetPoint","serviceObj":{"service":"com.victronenergy.settings","name":"Venus settings","communityTag":"ess"},"pathObj":{"path":"/Settings/CGwacs/AcPowerSetPoint","type":"integer","name":"Grid set-point (W)","mode":"both"},"name":"","onlyChanges":false,"roundValues":"no","rateLimit":0,"outputs":0,"conditionalMode":false,"condition1Operator":">","condition2Enabled":false,"condition2Service":"","condition2Path":"","condition2Operator":">","logicOperator":"AND","outputTrue":"true","outputFalse":"false","outputOnChange":false,"debounce":2000,"x":840,"y":200,"wires":[]},{"id":"d3b1adc90c0e600e","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Consumed","outputs":3,"switch_1_type":8,"switch_1_min":"0","switch_1_max":"1000","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"Ah","switch_1_step":1,"switch_1_customname":"Consumed","switch_1_group":"Battery Status","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":590,"y":420,"wires":[[],[],[]]},{"id":"86fdc0bccc43e79f","type":"change","z":"0c3a31d3098bce7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"/SwitchableOutput/output_1/Dimming\":-payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["d3b1adc90c0e600e"]]},{"id":"d2c31a159870a062","type":"victron-input-system","z":"0c3a31d3098bce7c","service":"com.victronenergy.system/0","path":"/Dc/Battery/ConsumedAmphours","serviceObj":{"service":"com.victronenergy.system/0","name":"Venus system","communityTag":"system"},"pathObj":{"path":"/Dc/Battery/ConsumedAmphours","type":"float","name":"Battery Consumed Amphours (Ah)"},"name":"ah","onlyChanges":true,"roundValues":"0","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":90,"y":420,"wires":[["86fdc0bccc43e79f","1d03db3a522822a2"]]},{"id":"feaf48ec4d0838cf","type":"mqtt in","z":"0c3a31d3098bce7c","name":"","topic":"N/c0619ab9a061/settings/0/Settings/CGwacs/AcPowerSetPoint","qos":"2","datatype":"auto-detect","broker":"a7881b9181e7f150","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":100,"wires":[["5a8f2d0ab4149afa"]]},{"id":"92c52872f54f8b7b","type":"mqtt out","z":"0c3a31d3098bce7c","name":"","topic":"R/c0619ab9a061/settings/0/Settings/CGwacs/AcPowerSetPoint","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a7881b9181e7f150","x":750,"y":40,"wires":[]},{"id":"260c1393c36ffdf6","type":"inject","z":"0c3a31d3098bce7c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":450,"y":40,"wires":[["92c52872f54f8b7b"]]},{"id":"4cb24161e1e14bbb","type":"change","z":"0c3a31d3098bce7c","name":"grid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"grid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":160,"wires":[["7b15e2a898ba61d5","1d03db3a522822a2"]]},{"id":"7b15e2a898ba61d5","type":"change","z":"0c3a31d3098bce7c","name":"set Dimming","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"/SwitchableOutput/output_1/Dimming\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["0a56d80f71c89078"]]},{"id":"bfcd943778a9d4a5","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Amps","outputs":3,"switch_1_type":8,"switch_1_min":"-1000","switch_1_max":"1000","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"A","switch_1_step":1,"switch_1_customname":"Amps","switch_1_group":"Battery Status","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":570,"y":500,"wires":[[],[],[]]},{"id":"c0a9163443864b6c","type":"change","z":"0c3a31d3098bce7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"/SwitchableOutput/output_1/Dimming\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[["bfcd943778a9d4a5"]]},{"id":"87ac58959855d276","type":"victron-input-system","z":"0c3a31d3098bce7c","service":"com.victronenergy.system/0","path":"/Dc/Battery/Current","serviceObj":{"service":"com.victronenergy.system/0","name":"Venus system","communityTag":"system"},"pathObj":{"path":"/Dc/Battery/Current","type":"float","name":"Battery current (A)"},"name":"amps","onlyChanges":true,"roundValues":"2","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":90,"y":500,"wires":[["c0a9163443864b6c","1d03db3a522822a2"]]},{"id":"110cfd9c0ec1571b","type":"victron-inject","z":"0c3a31d3098bce7c","name":"","notificationType":2,"notificationTitle":"Battery Test","x":810,"y":260,"wires":[[]]},{"id":"2e72667edf274978","type":"victron-input-temperature","z":"0c3a31d3098bce7c","service":"com.victronenergy.temperature/20","path":"/Temperature","serviceObj":{"service":"com.victronenergy.temperature/20","name":"Generic Temperature Input","communityTag":"temperature"},"pathObj":{"path":"/Temperature","type":"float","name":"Temperature (°C)"},"name":"Positive","onlyChanges":true,"roundValues":"0","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":90,"y":580,"wires":[["f10a476974804afd","1d03db3a522822a2"]]},{"id":"246db982daae0b2c","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Positive Temp","outputs":3,"switch_1_type":8,"switch_1_min":"0","switch_1_max":"1000","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"C","switch_1_step":1,"switch_1_customname":"Positive Temp","switch_1_group":"Battery Status","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":600,"y":580,"wires":[[],[],[]]},{"id":"f10a476974804afd","type":"change","z":"0c3a31d3098bce7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"/SwitchableOutput/output_1/Dimming\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["246db982daae0b2c"]]},{"id":"bd4c4b3e53445fb2","type":"victron-input-temperature","z":"0c3a31d3098bce7c","service":"com.victronenergy.temperature/21","path":"/Temperature","serviceObj":{"service":"com.victronenergy.temperature/21","name":"Generic Temperature Input","communityTag":"temperature"},"pathObj":{"path":"/Temperature","type":"float","name":"Temperature (°C)"},"name":"Negative","onlyChanges":true,"roundValues":"0","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":100,"y":660,"wires":[["74b3cc1a7b18f206","1d03db3a522822a2"]]},{"id":"48e1f92090acb408","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Negative Temp","outputs":3,"switch_1_type":8,"switch_1_min":"0","switch_1_max":"1000","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"C","switch_1_step":1,"switch_1_customname":"Negative Temp","switch_1_group":"Battery Status","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":600,"y":660,"wires":[[],[],[]]},{"id":"74b3cc1a7b18f206","type":"change","z":"0c3a31d3098bce7c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"/SwitchableOutput/output_1/Dimming\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":660,"wires":[["48e1f92090acb408"]]},{"id":"1d03db3a522822a2","type":"function","z":"0c3a31d3098bce7c","name":"TestEngine","func":"let c_limit = 45; // shut down test if either temp exceeds\nlet charge_temp = 35; // lower charge power if either probe exceeds this\nlet idle_charge = 100; // grid watts when idling in auto off (~5-6 amps)\n\nlet start = context.get('start') || 0;\nif (start == 0) {\n    start = Date.now();\n    context.set('start', start);\n}\nlet elapsed = parseInt((Date.now() - start)/60000);\n\n// store inbound values by topic for persistent reference\nlet avg_over = 30; // fake average for amps over x iterations\nlet store = context.get('store') || {};\nstore[msg.topic] = msg.payload;\nif (msg.topic == 'amps') {\n    let avg = store['avg'] || 0;\n    avg = avg - avg/avg_over + msg.payload/avg_over;\n    store['avg'] = parseFloat(avg.toFixed(2));\n}\ncontext.set(\"store\", store)\n\nfunction setGrid(value) {\n    msg.topic='grid';\n    msg.payload = value;\n    store['grid'] = value;\n    context.set(\"store\", store);    \n    return msg;\n}\n\n// grid is positive in charging mode, negative discharging, zero stopped\nif ('grid' in store && 'amps' in store) {\n    let grid = store['grid'];\n    let amps = store['amps'];\n    let avg = store['avg'];\n    let ah = -store['ah'];\n    let discharge_amps = store['Discharge Amps'] || 0;\n    let charge_amps = store['Charge Amps'] || 0;\n    let auto = store['Auto'] || 0;\n    let target = 0;\n    let m = grid/amps;\n    m = parseFloat(m.toFixed(2));\n\n    // check temps for limit\n    if (grid != 0 && 'Positive' in store) {\n        let c = store['Positive'];\n        if (c>c_limit) {\n            node.send({ type: 1, title: \"Test Abort\", payload: \"Positive Terminal at \"+c+\"C \" +amps+\"A\" });\n            return setGrid(0);\n        }\n    }\n    if (grid != 0 && 'Negative' in store) {\n        let c = store['Negative'];\n        if (c>c_limit) {\n            node.send({ type: 1, title: \"Test Abort\", payload: \"Negative Terminal at \"+c+\"C \"+amps+\"A\" });\n            return setGrid(0);\n        }\n    }\n\n    if (grid > idle_charge) {\n        target = charge_amps;\n        node.status({text: \"charging \" + avg + \" e=\"+elapsed + \" t=\"+target+\" m=\"+m});\n        \n        if (elapsed > 10 && amps < 0.5 && avg < 0.20 && ah==0) {\n            context.set('start', Date.now());\n            node.send({ title: \"Test Result\", payload: \"Charged to \"+ah+\" Ah at \"+charge_amps+\"A in \"+elapsed+\" mins\" });\n            if (auto && discharge_amps > 0) {\n                return setGrid(-discharge_amps*11);\n            }\n            return setGrid(idle_charge);\n        }\n    } else if (grid < 0) {\n        target = -discharge_amps;\n        node.status({text: \"discharging \" + avg + \" e=\"+elapsed+\" t=\"+target+\" m=\"+m});\n\n        if (elapsed > 0 && amps > -1) {\n            context.set('start', Date.now());\n            node.send({ title: \"Test Result\", payload: \"Discharged to \"+ah+\" Ah at \"+discharge_amps+\"A in \"+elapsed+\" mins\" });\n            if (charge_amps > 0) {\n                return setGrid(charge_amps*15);\n            }\n            return msg;\n        }\n    } else {\n        node.status({text: \"idle \" + avg + \" ah=\"+ah});\n        if (auto && charge_amps) {\n            context.set('start', Date.now());\n            node.send({ title: \"Test Result\", payload: \"Starting test charge\"});\n            return setGrid(charge_amps*15);\n        }\n    }\n\n    // tweak the grid watts to keep amps closer to target\n    if (!target) return null;\n    let last_change = context.get('change') || 0;\n    let secs_since = parseInt((Date.now() - last_change)/1000);\n    let tweak = 0;    \n    let pc = store['Positive'] || 0;\n    let nc = store['Negative'] || 0;\n    if (amps>target && avg>target) {\n        if (grid < 0 || grid > idle_charge) {\n            tweak = -1;\n        }\n    }\n    if (amps<target && avg<target && grid<20*charge_amps) {\n        tweak = 1;\n    }\n    if (target > 0 && grid > 24) {\n        // for agm batteries, don't overcharge to boiling\n        if (pc > charge_temp || nc > charge_temp) {\n            tweak = -1;\n        }\n    }\n    if (!auto) return null;\n    if (!tweak) return null;\n    if (secs_since < 10) return null;\n    if (elapsed == 0) return null;\n    node.status({text: \"tweak \" + tweak + \" grid=\"+grid+ \" seconds=\"+secs_since});\n    context.set('change', Date.now())\n    return setGrid(grid + tweak);\n}\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[["d214748116dd5a30"]]},{"id":"d214748116dd5a30","type":"switch","z":"0c3a31d3098bce7c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"grid","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":260,"wires":[["1444498d3389be6c"],["110cfd9c0ec1571b","deddbfb82aa74c1f"]]},{"id":"a309bd7573d5858d","type":"e-mail","z":"0c3a31d3098bce7c","server":"b.stg.net","port":"25","authtype":"NONE","saslformat":true,"token":"oauth2Response.access_token","secure":false,"tls":true,"name":"scott@stg.net","dname":"","x":840,"y":380,"wires":[]},{"id":"deddbfb82aa74c1f","type":"change","z":"0c3a31d3098bce7c","name":"","rules":[{"t":"set","p":"from","pt":"msg","to":"tester@b-haven.org","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"payload & \" \" & $now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":320,"wires":[["a309bd7573d5858d"]]},{"id":"007fc9d7415c16f4","type":"comment","z":"0c3a31d3098bce7c","name":"Automated Battery Tester","info":"Uses\n - Cerbo GX\n - Multiplus 3000 (AC in connected to \"grid\")\n - Smartshunt (between inverter DC gnd and battery gnd)\n - ","x":130,"y":40,"wires":[]},{"id":"b854f72ff56cea50","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Charge Amps","outputs":3,"switch_1_type":"8","switch_1_min":"0","switch_1_max":"200","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"A","switch_1_step":5,"switch_1_customname":"Charge Amps","switch_1_group":"Battery Test Settings","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":600,"y":740,"wires":[[],[],[]]},{"id":"cddef9499cd156d5","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Discharge Amps","outputs":3,"switch_1_type":8,"switch_1_min":"0","switch_1_max":"200","switch_1_initial":0,"switch_1_label":"","switch_1_unit":"A","switch_1_step":5,"switch_1_customname":"Discharge Amps","switch_1_group":"Battery Test Settings","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":600,"y":820,"wires":[[],[],[]]},{"id":"20ed33be5d605ef7","type":"victron-input-switch","z":"0c3a31d3098bce7c","service":"com.victronenergy.switch/108","path":"/SwitchableOutput/output_1/Dimming","serviceObj":{"service":"com.victronenergy.switch/108","name":"Charge Amps","communityTag":"switch"},"pathObj":{"path":"/SwitchableOutput/output_1/Dimming","type":"integer","name":"Charge Amps dimming","mode":"both"},"name":"Charge Amps","onlyChanges":false,"roundValues":"no","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":110,"y":220,"wires":[["1d03db3a522822a2"]]},{"id":"0210a0d81e5fe636","type":"victron-input-switch","z":"0c3a31d3098bce7c","service":"com.victronenergy.switch/109","path":"/SwitchableOutput/output_1/Dimming","serviceObj":{"service":"com.victronenergy.switch/109","name":"Discharge Amps","communityTag":"switch"},"pathObj":{"path":"/SwitchableOutput/output_1/Dimming","type":"integer","name":"Discharge Amps dimming","mode":"both"},"name":"Discharge Amps","onlyChanges":false,"roundValues":"no","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":120,"y":280,"wires":[["1d03db3a522822a2"]]},{"id":"41ad39b86c7ece29","type":"victron-virtual-switch","z":"0c3a31d3098bce7c","name":"Auto Test","outputs":2,"switch_1_type":1,"switch_1_initial":0,"switch_1_label":"","switch_1_customname":"Auto","switch_1_group":"Battery Test Settings","switch_1_include_measurement":false,"switch_1_rgb_color_wheel":false,"switch_1_cct_wheel":false,"switch_1_rgb_white_dimmer":false,"x":580,"y":900,"wires":[[],[]]},{"id":"1b8f97c5d8b18ae1","type":"victron-input-switch","z":"0c3a31d3098bce7c","service":"com.victronenergy.switch/110","path":"/SwitchableOutput/output_1/State","serviceObj":{"service":"com.victronenergy.switch/110","name":"Auto Test","communityTag":"switch"},"pathObj":{"path":"/SwitchableOutput/output_1/State","type":"enum","enum":{"0":"Off","1":"On"},"name":"Auto state","mode":"both"},"name":"Auto","onlyChanges":false,"roundValues":"no","rateLimit":0,"outputs":1,"conditionalMode":false,"outputTrue":"true","outputFalse":"false","debounce":"2000","x":90,"y":340,"wires":[["1d03db3a522822a2"]]},{"id":"5a8f2d0ab4149afa","type":"delay","z":"0c3a31d3098bce7c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":660,"y":100,"wires":[["4cb24161e1e14bbb"]]}],"rev":"38cf404d717449eee62fb5f49de5a412d07df683695322a14509dac04a377f90"}